.contact {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text {
  width: 350px;

  h2 {
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 30px;
  }
}

.contact-img {
  height: 100%;
  width: 420px;
  margin-left: 40px;
  background-image: url('../images/contact-image.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 420px auto;

  @media (max-width: 870px) {
    display: none;
  }
}