.work {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 950px) {
    width: 125%;
  }

  @media (max-width: 760px) {
    width: 175%;
  }

  @media (max-width: 670px) {
    width: 200%;
  }

  @media (max-width: 540px) {
    width: 250%;
  }

  @media (max-width: 440px) {
    width: 300%;
  }

  @media (max-width: 400px) {
    width: 350%;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  // @media (max-width: 670px) {
  //   align-items: center;
  // }

  .button {
    margin-top: 30px;
  }
}

.project-row {
  display: flex;
}

.project {
  width: 265px;
  height: 400px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background: red;
  margin: 0px 25px;
  border-radius: 20px;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  transform-style: preserve-3d;
  transform: perspective(1000px);

  &:last-child {
    margin-right: 0px;

    // @media (max-width: 950px) {
    //   display: none;
    // }
  }
  &:first-child {
    margin-left: 0px;

    @media (max-width: 670px) {
      margin: 0px;
    }
  }
  &:nth-child(2) {
    @media (max-width: 950px) {
      margin-right: 0px;
    }

    // @media (max-width: 670px) {
    //   display: none;
    // }
  }

  h6 {
    margin: 30px 30px 0px 30px;
    transform: translateZ(20px);
  }

  h4 {
    margin: 10px 30px;
    transform: translateZ(40px);
  }

  .arrow {
    transform: translateZ(20px);
    margin: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
