h2{
	text-decoration: none;
}

h5{
	text-decoration: none;
}

.work_title{
	padding: 15px;
}

.title_about{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #929292;
}

.about_info{
	padding: 30px;
}

.line_about{
	width: 90%;
	font-family: "acumin-pro-extra-condensed";
	font-weight: 600;
	font-style: italic;
	font-size: 80px;
	line-height: 80px;
	letter-spacing: 8px;
	color: #f9cb10;
}

@media screen and (max-width: 768px){
	.line_about{
		width: 90%;
		font-size: 50px;
		line-height: 48px;
		letter-spacing: 5px;
	}
}

.sub_about{
	margin-top: 20px;
	font-family: "acumin-pro-extra-condensed";
	font-weight: 100;
	font-style: italic;
	font-size: 50px;
	line-height: 80px;
	letter-spacing: 10px;
	color: #f9cb10;
}

@media screen and (max-width: 768px){
	.sub_about{
		font-size: 30px;
		line-height: 60px;
		letter-spacing: 5px;
	}
}

.job{
	height: 275px;
}